.select-character-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.select-character-container .character-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 15px;
}

.character-grid .character-item {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-self: center;
  align-self: center;
  background-color:grey;
border-radius: 10px;
margin: 10px 0;
}

.character-stat-container {
padding: 5px;


}

.stats-key {
  border-radius:10px;
  background-color:grey;
  margin-top:20px;
  padding:20px 50px;
  width:500px;
}
.character-item__overlay{
  display:none;
}
.character-item.--minting-not-current .character-item__overlay {
  display: block;
z-index:100;
 background-color:black;
 opacity: 0.6;
 position: absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
}

.character-item img {
  height: 300px;
  width: 350px;
  border-radius: 10px 0 10px 10px;
  object-fit: cover;
}

li {
  list-style:none;
  text-align: left;
}

li span {
font-weight:800;
font-size:1.4rem;
text-transform: uppercase}

.character-item ul{
  padding-left:5px;
}

.character-item .name-container {
  position: absolute;
  background-color: #838383;
  border-radius: 5px;
  margin: 10px;
}

.character-item .name-container p {
  margin: 0;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}

.character-item .character-mint-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(32, 129, 226);
  color: white;
  font-weight: bold;
  font-size: 16px;
}
